<div class="w3-main ">    
        <%= render partial: "shared/message" %>
        <%= render partial: "shared/header" %>
        
        <div class="w3-container">
                
        </div>
    
        <%= render partial: "shared/footer" %>
    
    </div>