<div class="w3-main ">    
        <%= render partial: "shared/message" %>
        <%= render partial: "shared/header" %>
        
        
    
        <%= render partial: "shared/footer" %>
    
    </div>