html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft","Roboto",sans-serif;}
.w3-sidenav a {font-weight:600;color:#1E1E1E;padding:2px;}

@import 'w3';
@import "font-awesome";
@import 'toastr';



a:link {
    text-decoration: none;
}

.active {
  background: #1968B3;
  color: white;
}


nav a.active {
   background: #1968B3;
  color: white;
  
}

